.boxContainer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.box{
  border: var(--border);
}

.image{
  height: 25rem;
  overflow: hidden;
  width: 100%;
}

.image img{
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.box:hover .image img {
  transform: scale(1.2);
}

.content{
  padding: 2rem;
}

.content span{
  color: var(--main-color);
  display: block;
  padding: 1rem;
  font-size: 2rem;
}

.content p{
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: #ccc;
  padding: 1rem 0;
}

.title{
  font-size: 2.5rem;
  line-height: 1.5;
  color: #fff;
}
.title:hover{
  color: var(--main-color);
}